<table>
  <tr>
    <th>Combination of marks</th>
        <th>Total Score</th>
    <th>Combination of marks</th>
            <th>Total Score</th>

  </tr>
  <tr>
    <td>eemm</td>
    <td>{{mark_scheme.grades_eemm}}</td>
    <td>mmma</td>
    <td>{{mark_scheme.grades_mmma}}</td>
  </tr>

  <tr>
    <td>eema</td>
    <td>{{mark_scheme.grades_eema}}</td>
    <td>mmmn</td>
    <td>{{mark_scheme.grades_mmmn}}</td>
  </tr>

  <tr>
    <td>eemn</td>
    <td>{{mark_scheme.grades_eemn}}</td>
    <td>mmaa</td>
    <td>{{mark_scheme.grades_mmaa}}</td>
  </tr>

  <tr>
    <td>eeaa</td>
    <td>{{mark_scheme.grades_eeaa}}</td>
    <td>mman</td>
    <td>{{mark_scheme.grades_mman}}</td>
  </tr>

  <tr>
    <td>eean</td>
    <td>{{mark_scheme.grades_eean}}</td>
    <td>mmnn</td>
    <td>{{mark_scheme.grades_mmnn}}</td>
  </tr>

  <tr>
    <td>eenn</td>
    <td>{{mark_scheme.grades_eenn}}</td>
    <td>maaa</td>
    <td>{{mark_scheme.grades_maaa}}</td>
  </tr>

    <tr>
    <td>emma</td>
    <td>{{mark_scheme.grades_emma}}</td>
    <td>maan</td>
    <td>{{mark_scheme.grades_maan}}</td>
  </tr>

    <tr>
    <td>emmn</td>
    <td>{{mark_scheme.grades_emmn}}</td>
    <td>mann</td>
    <td>{{mark_scheme.grades_mann}}</td>
  </tr>

      <tr>
    <td>emaa</td>
    <td>{{mark_scheme.grades_emaa}}</td>
    <td>mnnn</td>
    <td>{{mark_scheme.grades_mnnn}}</td>
  </tr>

      <tr>
    <td>eman</td>
    <td>{{mark_scheme.grades_eman}}</td>
    <td></td>
    <td></td>
  </tr>

      <tr>
    <td>emnn</td>
    <td>{{mark_scheme.grades_emnn}}</td>
    <td>aaaa</td>
    <td>{{mark_scheme.grades_aaaa}}</td>
  </tr>

      <tr>
    <td>eaaa</td>
    <td>{{mark_scheme.grades_eaaa}}</td>
    <td>aaan</td>
    <td>{{mark_scheme.grades_aaan}}</td>
  </tr>

        <tr>
    <td>eaan</td>
    <td>{{mark_scheme.grades_eaan}}</td>
    <td>aann</td>
    <td>{{mark_scheme.grades_aann}}</td>
  </tr>

        <tr>
    <td>eann</td>
    <td>{{mark_scheme.grades_eann}}</td>
    <td>annn</td>
    <td>{{mark_scheme.grades_annn}}</td>
  </tr>

        <tr>
    <td>ennn</td>
    <td>{{mark_scheme.grades_ennn}}</td>
    <td>nnnn</td>
    <td>N0</td>
  </tr>

</table>